My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a sales assistant.\n\nAnalyze this lead.\n\nReturn :\n- Lead_Score (1-10)\n- Priority (Low, Medium, High)\n- Short_Summary\nlead data-\n{{ $json.Name }}{{ $json.Email }}{{ $json['Budget '] }}{{ $json['Requirement '] }}\nLead Data return in json format:\n{\"leadscore\":0,\n\"Priority\":\"\",\n\"ShortSummary\":\"\"}\nGive JSON with Lead score, Priorirty, Short Summary as key\n\n\n\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        0
      ],
      "id": "c83302c8-682d-4af8-ad24-7b23422eeca3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "c662aa99-1d6d-4f59-871b-be24fa8bd492",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pDMTou40ullgjYGF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "e711f1b6-02a7-4b34-b169-4c33d312eefb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "formTitle": "Fill the form",
        "formDescription": "Thank you ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Budget ",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Requirement ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Consultation"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Others "
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        48,
        0
      ],
      "id": "1e834cd7-b230-4e21-bcab-907e2cf5f37a",
      "name": "On form submission",
      "webhookId": "dbad2092-3b3d-4f50-9cc7-3e837dce1ac5"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// Remove markdown code fences\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Convert string to JSON object\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "8b29af8c-fb00-4f6a-8192-7bc61eecdd12",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Tb8KPEUUEJe-mQN_44Sqa25YQnPssdhPq2YrjaM5isI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tb8KPEUUEJe-mQN_44Sqa25YQnPssdhPq2YrjaM5isI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tb8KPEUUEJe-mQN_44Sqa25YQnPssdhPq2YrjaM5isI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Budget": "={{ $('On form submission').item.json['Budget '] }}",
            "Requirement": "={{ $('On form submission').item.json['Requirement '] }}",
            "Lead Score": "={{ $json.leadscore }}",
            "Priority": "={{ $json.Priority }}",
            "Summary": "={{ $json.ShortSummary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "fd18ad38-1ff6-47d9-b737-6d37cbf6805c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pmRi1Jo6kEAIs7dK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional sales representative.\n\nUsing the lead information below, write a personalized cold email.\n\nLead Information:\nName: {{ $('On form submission').item.json.Name }}\nRequirements: {{ $('On form submission').item.json['Requirement '] }}\nLead Score: {{ $json.leadscore }}\nPriority: {{ $json.Priority }}\nSummary: {{ $json.ShortSummary }}\n\nRequirements:\n\n* Personalize the email using the company name and requirements.\n* Keep the email under 150 words.\n* Be professional and friendly.\n* Do not sound like AI.\n* Focus on the lead's specific needs.\n* End with a simple call-to-action asking for a short call or reply.\n\nReturn ONLY valid JSON:\n\n{\n\"email_subject\": \"\",\n\"email_body\": \"\"\n}\nat the end Regards Harshit, also make sure there are spacing and change of line ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        240
      ],
      "id": "55e541f0-9cf6-4691-acb5-f7778c23eebd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        448
      ],
      "id": "d0f0839e-550a-48a3-ba2b-72c2bbef8671",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pDMTou40ullgjYGF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const { email_subject, email_body } = JSON.parse(item.json.output);\n\n  const formattedBody = email_body\n    .replace(/\\. /g, '.\\n\\n');\n\n  return {\n    json: {\n      email_subject,\n      email_body: formattedBody\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        240
      ],
      "id": "59853f81-e6d3-42aa-93d2-3c7d95830a16",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        240
      ],
      "id": "36a052eb-995b-4ac9-adda-4d2be46983ae",
      "name": "Send a message",
      "webhookId": "4a27db9e-3ddb-41f5-b711-cd97c6474974",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXEH0woDZweMAarg",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bf6728a9-18fb-43d8-804b-cd6cdedd6356",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3232c2f2e380e3e4153d98ac765bce53a806c00366ffd46602e3c44e6dce3258"
  },
  "id": "BDj6jLIEj3ii0fYi",
  "tags": []
}